<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--Load viewport-->
    <!--meta name= "viewport" content= "width=device-wid th, initial-scale=1"-->
    <title>Proyecto Individual- DH Nº 1- "Mercado-Liebre"</title>
    <!--Css styles-->
    <link href ="css/styles.css" rel="stylesheet">
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <!--el link sugerido en el playground no me funciono: href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" -->
    <!--<script src="https://kit.fontawesome.com/17c2d4139d.js" crossorigin="anonymous"></script> : solo con este script también funciona -->


</head>

<body>

    <header>
         <!--container logo-->
            <div class="container-login-bar" id="login-bar">
            <img id="logo" src="./img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            </div>

        <!--space for search-bar--> 
            <form class="search-bar" action="#">
                <input type="text" placeholder="Buscar productos, marcas..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        
        <!--start navbar-->
        <nav class="navbar" id="nav">

            <span class =“medios-pago”><i id= "icon-nav-bar" class= "fas fa-hand-holding-usd"></i>
            </span>
            <span>Compra en cuota y con tarjeta de crédito
            </span> 
               
        <!--nav list-->
            <ul id= "lista-de-nav">
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
                <li>
                    <a href="#">Creá tu cuenta</a><i id = "icon-nav-bar" class="far fa-address-card"></i>
                </li>
                <li>
                    <a href="#">Ingresá</a><i id = "icon-nav-bar" class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a><i id = "icon-nav-bar" class="fas fa-shopping-basket"></i>
                </li>
            </ul>

                <div class ="burger-menu">
                    <i class = "fa fa-bars burger"></i>
                </div>
        </nav>
         <!-- end navbar-->
    </header>

    <main>

        <section class="section-ultima-busqueda">

            <h3>Basado en tu última búsqueda</h3>

            <article>
                <img src="./img/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                <p id ="precio">$6.770</p>
                <p id= "descuento">40% OFF</p>
                <p id= "descripcion">Cafetera Moulinex</p>
            </article>

            <article>
                <img  src="./img/img-macbook-pro-2019.jpg" alt="Imagen de macbook Pro 2019">
                <p id ="precio">$230.000</p>
                <p id= "descuento">20% off</p>
                <p id= "descripcion">MacBook Pro 2019</p>
            </article>

            <article>
                <img src="./img/img-samsung-galaxy-s10.jpg" alt="Imagen del samsung galaxy, modelo-s10">
                <p id ="precio">$70.500</p>
                <p id= "descuento">10% off</p>
                <p id= "descripcion">Samsung Galaxy S10</p>
            </article>

            <article>
                <img  src="./img/img-tv-samsung-smart.jpg" alt="Imagen del samsung smart-tv">
                <p id ="precio">$23.200</p>
                <p id= "descuento">5% off</p>
                <p id= "descripcion">SmartTv Samsung 43" </p>
            </article>

        </section>

        <section class="seccion-ofertas">

            <h3>Sección de Ofertas</h3>

            <article>
                <img  src="./img/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                <p id ="precio">$6.770</p>
                <p id= "descuento">40% OFF</p>
                <p id= "descripcion">Cafetera Moulinex</p>
            </article>

            <article>
                <img src="./img/img-macbook-pro-2019.jpg" alt="Imagen de macbook Pro 2019">
                <p id ="precio">$230.000</p>
                <p id= "descuento">20% off</p>
                <p id= "descripcion">MacBook Pro 2019</p>
            </article>

            <article>
                <img  src="./img/img-samsung-galaxy-s10.jpg" alt="Imagen del samsung galaxy, modelo-s10">
                <p id ="precio">$70.500</p>
                <p id= "descuento">10% off</p>
                <p id= "descripcion">Samsung Galaxy S10</p>
            </article>

            <article>
                <img  src="./img/img-tv-samsung-smart.jpg" alt="Imagen del samsung smart-tv">
                <p id ="precio">$23.200</p>
                <p id= "descuento">5% off</p>
                <p id= "descripcion">SmartTv Samsung 43" </p>
            </article>

        </section>

        <footer>

            <section class="medio-de-pago">
                <i id ="icon-footer" class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class = "envio-gratis">
                <i id ="icon-footer" class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            
            <section class= "seguridad">
                <i id ="icon-footer" class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </section>
            
            <section class= "copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>

        </footer>
    </main>
</body>
</html>