</form action="/registro method="">
<div>
    <label>

    </label>
</div>
<div>
    <label>Nombre y apellido:</label>
    <input type="text" name="nombreUsuario">
</div>

<div>
    <label>Nombre de usuario:</label>
    <input type="text" name="nombreUsuario">
</div>

<div>
    <label>Fecha de nacimiento:</label>
    <input type="text" name="nombreUsuario">
</div>

<div>
    <label>Domicilio:</label>
    <input type="text" name="nombreUsuario">
</div>

<div>
    <label>Contraseña:</label>
    <input type="password" name="passwordUsuario">
</div>

<div>
    <label>Correo Electrónico:</label>
    <input type="text" name="emailUsuario">
</div>

<button type="submit">Enviar</button>

</form>