/* GENERAL —>
<!— COLORES: Amarillo: #EAC926;
 Azul: #03264C; Celeste: #1259c3; 
Gris oscuro: #666; 
Gris claro: #ebebeb; 
Verde: #39b54a; —>
<!— Tipografías Familia: 'Roboto' -->
<!—  Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
 Precios: 18px
 Descuentos: 16px
 Descripciones: 16px —>

<! —FOOTER —>
<!—El contenido de todos los artículos está centrado.Los íconos tienen un tamaño de 2em y un margen inferior de 
separación de 10 píxeles —> */


/* BODY */

* {
 box-sizing: border-box;
 margin: 0; 
}

body {
    font-size: 12px; 
    font-family: roboto;  
    background:  #ebebeb; 
    color:  #666;
}

p {
    font-size: 12px; 
}

h2 {
    font-size: 24px; 
    padding-top: 15px; 
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px; 
}


/*HEADER*/


header {
    background: #EAC926;
}

.container-logo img {
    width: 50%; 
}


.burger-menu i {
    color: white; 
    background: #1259c3;
    font-size: 15px; 
    padding: 8px; 
    border-radius: 5px;
}

.burger-menu {
    padding-top: 10px; 
    padding-bottom: 10px; 
    text-align: center;
}

.lista-nav i {
    padding-left: 3px;
}

.lista-nav {
    padding-bottom: 10px;
}

.container-logo {
    width: 100%;
}

.navbar-subtitle {
    padding-top: 10px; 
    text-align: center; 
}


/*BANNER*/

.home-banner img {
    width: 100%;
    margin: 0 auto; 
} 


/*MAIN*/

main {
    width: 90%;
    margin: 0 auto;  
}

/*ARTICLE*/

article {
    margin: 20px auto;  
    width: 100%;
    background-color: white; 
}

.main-article { 
    background-color: white;
    padding: 15px; 
    border-top: solid 1px #ebebeb;
}

main article img {
    width: 100%; 
}

/*FOOTER*/

footer {
    text-align: center;
    margin: 0px auto;
    background: white; 
    width: 100%; 
}

.section-footer i {
    color: #1259c3;
    font-size: 2em; 
    margin-bottom: 20px; 
}

.section-footer {
    padding-top: 20px; 
    margin: 20px 20px;
}

.copyright {
    text-align: left; 
    padding: 5px; 
}

.p-footer {
   padding-top: 10px; 
}


/* MEDIA QUERIS*/

@media (min-width: 361px) {

    /*TABLET*/

article{
    box-shadow : 0px 0px 10px rgb(100, 100, 100);
}

.burger-menu {
    display: none; 
}
  

}

@media (min-width: 769px) {

    /* DESKTOP */

   article {
    box-shadow : 0px 0px 10px rgb(100, 100, 100);
}

.burger-menu {
    display: none; 
}
  

}

@media (max-width: 480px) {

    .main-article {
        display: none; 
    }

    .lista-nav {
        display: none; 
    }
        
}