@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-size: 12px; 
    font-family: roboto; 
}

header {
    background: #EAC926;
}

h3 {
    font-size: 24px; 
}

#precio {
    font-size: 18px;
}

#descuento #descripcion {
    font-size: 16px; 
} 